.tab {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
}

#login-tab, #register-tab {
    border: var(--border-default);
    border-radius: var(--border-radius-default);
}

#login-error-message, #register-error-message {
    color: red;
    text-align: center;
    max-width: 8rem; 
    word-wrap: break-word; 
    white-space: normal;
    margin: 4px auto 0;
}

#login-form, #register-form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}