:root {
    --font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: var(--bg-light);
    color: var(--text-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-family);
}

#status-distribution-chart {
}

#status-distribution-chart-legend {
    margin: 2rem 2rem 0 2rem;
}

#status-distribution-chart-legend.legend {
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: 600;
    font-size: 0.95rem;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: default;
}

.legend-color {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 100px;
}
