:root {
    --border-radius-default: 4px;
    --border-default: 1px solid black;
    --border-medium: 2px solid black;
    --unit: 1rem;
    --image-size: 225px;
    --color-new: oklch(0.671 0.101 231.0);
    --color-favorite: oklch(0.615 0.191 25.0);
    --color-done: oklch(0.669 0.136 147.0);
    --color-selected: white;
    --color_dark: #222;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--border-default);
    padding: var(--unit);
    margin: var(--unit) var(--unit) 0;
}

.logout-button:hover {
    cursor: pointer;
}

.filter, .search-input {
    margin: var(--unit) var(--unit) 0;
}

.filter-status {
    border: var(--border-default);
    border-radius: var(--border-radius-default);

    padding: 0.2rem 0.4rem;
    margin-right: 0.4rem;
}

.page-button {
    border: var(--border-default);
    border-radius: var(--border-radius-default);
}

.filter-status.active, .page-button.active {
    background-color: var(--color-selected);
    border: var(--border-medium);
}

.filter-status:hover {
    cursor: pointer;
}

button[data-status="all"] {
    color: #222;
    border: 1px solid #222; 
}

button[data-status="0"] {
    color: var(--color-new);
    border: 1px solid var(--color-new);
}

button[data-status="1"] {
    color: var(--color-favorite);
    border: 1px solid var(--color-favorite);
}

button[data-status="2"] {
    color: var(--color-done);
    border: 1px solid var(--color-done);
}

/* main */

#wish-list {
    margin: var(--unit);
    display: grid;
    grid-template-columns: repeat(4, 0fr); 
    gap: var(--unit);
}

.wish-card {
    border-radius: var(--border-radius-default);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: var(--unit);
    gap: 12px;

    width: max-content;
}

.wish-image {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: cover;
    object-position: center;
}

#pagination {
    margin: var(--unit) var(--unit) 0;
    padding-bottom: var(--unit);
    display: flex;
    gap: 0.5rem;
}

.page-button:hover {
    cursor: pointer;
}

/* popup panels */

.add-button {
    margin-left: var(--unit);

    border: var(--border-default);
    border-radius: var(--border-radius-default);

    padding: 0.2rem 0.4rem;
}

.add-button:hover {
    cursor: pointer;
}

#add-panel, #edit-panel {
    border: var(--border-default);
    border-radius: var(--border-radius-default);
}

form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.close-form-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* media */

@media (max-width: 768px) {
    #wish-list {
        grid-template-columns: repeat(2, 1fr); 
    }
}