.tab {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
}

#login-tab, #register-tab {
    border: 1px solid black;
    border-radius: 4px;
}

form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}