.tab {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
}

#login-tab, #register-tab {
    border: var(--border-default);
    border-radius: var(--border-radius-default);
}

form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}