:root {
    --border-radius-default: 4px;
    --border-default: 1px solid black;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--border-default);
    padding: 1rem;
    margin: 1rem 1rem 0;
}

.logout-button:hover {
    cursor: pointer;
}

.filter, .search-input {
    margin: 1rem 1rem 0;
}

.filter-status.active, .page-button.active {
    background-color: lightblue;
}

.filter-status:hover {
    cursor: pointer;
}

/* main */

#wish-list {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 0fr); 
    gap: 1rem; 
}

.wish-card {
    border: var(--border-default);
    border-radius: var(--border-radius-default);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1rem;
    gap: 12px;

    width: max-content;
}

.wish-image {
    width: 225px;
    height: 225px;
    object-fit: cover;
    object-position: center;
}

#pagination {
    margin: 1rem 1rem 0;
    padding-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
}

.page-button:hover {
    cursor: pointer;
}

/* popup panels */

.add-button {
    margin-left: 1rem;
}

.add-button:hover {
    cursor: pointer;
}

#add-panel, #edit-panel {
    border: var(--border-default);
    border-radius: var(--border-radius-default);
}

form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.close-form-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}